# -------------------------------------
# FRONTEND CONFIGURATION
# -------------------------------------

# API Connection
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Comms & IT Constraints
NEXT_PUBLIC_APP_NAME="ProfilsActifs"
NEXT_PUBLIC_MAX_VIDEO_SIZE_MB=100

# Legal / GDPR Constraint
NEXT_TELEMETRY_DISABLED=1
